/*.container {
     width: 100%; 
    margin: auto;
    /* width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
}*/

.ul {
    list-style-type: none;
    font-size: 40px;
    padding-left: 80px;
    padding-bottom: 21px;
    margin-top: 21px;
}

li {
    display: inline-block;
    margin-left: 50px;
}

.header {
    border: 1px solid black;
    /* width: 2090px; */
    background-color: #3b0994;
    color: white;
    font-size: 20px;
}

.footer {
    background-color: #3b0994;
    /* width: 2090px; */
    /* height: 200px; */
    color: white;
    text-align: center;
    font-size: 22px;
}

.img_bestekar_world {
    width: 346px;
    border-radius: 150px;
    height: 304px;
    float: right;
    margin-top: 119px;
    margin-right: 110px;
    
}

.img_bestekar_azerb{
    width: 346px;
    border-radius: 150px;
    height: 304px;
}
#az{
    margin-right: 650px;
}

.img {
    padding: 57px;
}

#search {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 2px;
    margin-right: 58px;
    font-size: 21px;
}

a {
    color: #b1cbe2;
}

.text {
    padding: 50px;
    text-align: center;
    font-size: 47px;
    background: -webkit-linear-gradient( #33ccff 0%, #ff99cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#world {
    position: relative; 
    left: 353px;
    float: right;
    margin-top: 425px;
}

.part_az {
    /* border: 1px solid #fbe3c3; */
    /* width: 722px; */
}

.part_world{
    position: relative;
    bottom: 600px;
    /* border: 1px solid; */
}

.world{
    position: relative;
    top: 120px;
    left: 60pc;
}

.btn-primary {
    color: #fff;
    background-color: #651fe2;
    border-color: #651fe2;
}

/* .info_world_composer{
    margin-left: 47px;
} */